<template>
  <div class="<%= data.parent %>-<%= data.name %>">
    <page-search :searchConfig="searchFormConfig" ref="pageSearchRef" />
    <div class="btn-box">
      <el-button
        size="small"
        type="primary"
        icon="el-icon-plus"
        @click="handleNewData()"
        >新增</el-button
      >
    </div>
    <page-content ref="pageContentRef" :contentConfig="contentTableConfig">
      <!-- 自定义表格模板 -->
      <!-- <template #soure="scope">
            {{ contentTableConfig.soureMap[scope.row.type] }}
        </template> -->
      <template #<%= data.parent %><%= data.nameUp %>Handler="scope">
        <el-button
          type="text"
          icon="el-icon-delete"
          size="mini"
          @click="handleDeleteClick(scope.row)"
        >
          删除
        </el-button>
        <el-button
          type="text"
          icon="el-icon-edit"
          size="mini"
          @click="handleEditClick(scope.row)"
        >
          修改
        </el-button>
      </template>
    </page-content>
    <page-modal
      ref="pageModalRef"
      :modalConfig="modalConfig"
      :defaultInfo="modalInfo"
    ></page-modal>
  </div>
</template>
<script>
import PageSearch from "@/components/page-search";
import PageContent from "@/components/page-content";
import PageModal from "@/components/page-modal";

import { searchFormConfig } from "./config/search.config";
import { contentTableConfig } from "./config/content.config";
import { modalConfig } from "./config/modal.config";

import usePageHandler from "@/mixins/use-page-handler";

export default {
  name: "<%= data.parent %><%= data.nameUp %>",
  components: { PageSearch, PageContent, PageModal },
  mixins: [usePageHandler],
  data() {
    return {
      searchFormConfig,
      contentTableConfig,
      modalConfig,
      modalInfo: {}
    };
  },
  created() {},
  methods: {}
};
</script>

<style scoped lang="less"></style>
